
section {
    padding: 50px;
    text-align: center;
    background-color: #f0eaeaab;
    border-radius: 18px;
    box-shadow: 0 4px 00px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
  }
  